.cartLink{
    margin-right: 10px;
}
.cartBadge{
    width: 17px;
    height: 17px;
    border-radius: 25%;
    background-color: red;
    color: white;
    position: absolute;
    top: 22%;
    text-align: center;
    font-size: 12px;
    left: 46px;
}