@font-face {
  font-family: iransans;
  src: url(./styles//fonts/iranSans/Webfonts/fonts/woff/IRANSansX-Regular.woff);
}

body {
  font-family: iransans;
}

h1,
h2,
h3,
h4 {
  font-family: iransans;
}
