.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
    p{
        font-size: 20px;
    }
   
    button{
      width: 90px;
      padding: 13px;
      border-radius: 7px;
      border: none;
      margin-top: 13px;
      margin-right: 10px;
      font-size: 20px;
    }
}