.imageGalleryContainer{
    height: 34vh;
}
@media (max-width:768px){
    .imageGalleryContainer{
        height: 17vh;
        .image-gallery-slide{ .image-gallery-image{
            height: 40vh !important;
        }
    }
    }
    
}