@import './myVariable';


.carouselBackground{
    background-color: $--color-primary-500;
    width: 100%;
    height: 29vh;
    border-radius: 5px;
    margin-top: 10px;
}
.amazingOffersLeftItems{
    width: 85%;
    position: absolute;
    bottom: 19%;
}

.amazingOffersRightItems{
    position: absolute;
    right: 2rem;
    top: 54%;
}

.amazingOffersText{
    width: 60%;
}
.amazingOffersBoxImg{
    width: 65%;
}
.amazingOffersLink{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    width: 100px;
    position: absolute;
    right: 12%;
}




@media (max-width:768px){
    .carouselBackground{
        height: 32vh;
        margin-top: 1.7rem;
           .amazingOffersLeftItems{
            width: 85%;
            position: absolute;
            top: 27%;
            right: 23%;
            li{
                width: 160px !important;
            }
            button{
                display: none;
            }
           }
           .amazingOffersRightItems{
            position: absolute;
            right: 2rem;
            top: 33%;
            .amazingOffersText{
                width: 80px
            }
            .amazingOffersBoxImg{
                width: 115px;
            }
        
            
           }
    }
}