@import './myVariable';


.carouselBackground{
    background-color: $--color-primary-500;
    width: 100%;
    height: 40vh;
    border-radius: 5px;
    margin-top: 10px;
}
.amazingOffersLeftItems{
    width: 85%;
}
.amazingOffersRightItems{
    position: absolute;
    right: 2rem;
    top: 58%;
}

.amazingOffersText{
    width: 100px;
}
.amazingOffersBoxImg{
    width: min-content;
}
.amazingOffersLink{
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    width: 100px;
}

// .cardsConatiner{
//     display: flex;
// }

@media (max-width:768px){
    .carouselBackground{
        height: 42vh;
        margin-top: 1.7rem;
           .amazingOffersLeftItems{
            width: 85%;
            position: absolute;
            top: 32%;
            right: 23%;
            li{
                width: 160px !important;
            }
            button{
                display: none;
            }
           }
           .amazingOffersRightItems{
            position: absolute;
            right: 2rem;
            bottom: 35%;
            top: 42%;
            .amazingOffersText{
                width: 80px
            }
            .amazingOffersBoxImg{
                width: 115px;
            }
        
            
           }
    }
}