@import '../myVariable';
.submenu2Container{
    overflow: auto;
    direction: ltr;

}
.submenu2Container::-webkit-scrollbar {
    width: 8px;
  
  }
   .submenu2Container::-webkit-scrollbar-thumb {
      background-color: $--color-neutral-300;
      border-radius: 8px;
    }
    .submenu2Container::-webkit-scrollbar-track {
      background-color: $--color-neutral-100;
      border-radius: 8px;
    }
  
.submenu2Container ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    direction: rtl;
    gap: 1rem;
}

.submenu2Container li {
    padding: 10px;
}

.mainLinks{
    color:  $--color-neutral-800;
    text-decoration: none;
    list-style: none;
    position: relative;
    font-size: 17px;
}

.standardLinks{
    color: $--color-neutral-600;
    text-decoration: none;
    list-style: none;
    font-size: 15px;
}
