$--spacing-base: 4px;
$--global-radius: 8px;
$--small-radius: 4px;
$--medium-radius: 8px;
$--large-radius: 16px;                               
$--font-family: IRANYekan,sans-serif;
$--color-white: #fff;
$--color-black: #0c0c0c;
$--color-primary-700: #ef394e;
$--color-primary-500: #ef4056;
$--color-primary-300: #f37a8a;
$--color-primary-100: #ffe440;
$--color-secondary-700: #008eb2;
$--color-secondary-500: #19bfd3;
$--color-secondary-300: #008deb;
$--color-secondary-100: #e6f4f7;
$--color-green-700: #39ae00;
$--color-green-500: #6bb927;
$--color-green-300: #9dc44d;
$--color-hint-object-neutral: #81858b;
$--color-hint-object-error: #d32f2f;
$--color-hint-object-success: #4caf50;
$--color-hint-object-caution: #f9a825;
$--color-hint-text-neutral: #62666d;
$--color-hint-text-error: #b2001a;
$--color-hint-text-success: #2e7b32;
$--color-neutral-000: #fff;
$--color-neutral-100: #f0f0f1;
$--color-neutral-200: #e0e0e2;
$--color-neutral-300: #c0c2c5;
$--color-neutral-400: #a1a3a8;
$--color-neutral-500: #81858b;
$--color-neutral-600: #62666d;
$--color-neutral-700: #424750;
$--color-neutral-800: #232933;
$--color-neutral-900: #0c0c0c;
$--color-button-primary: #ef4056;
$--color-button-secondary: #19bfd3;
$--color-button-brand: #e6123d;
$--color-button-white: #fff;
$--color-button-black: #0c0c0c;
$--color-button-disable: #e0e0e2;
$--color-button-error: #b2001a;
$--color-button-text-primary: #fff;
$--color-button-text-secondary: #fff;
$--color-button-text-white: #0c0c0c;
$--color-button-text-black: #fff;
$--color-button-hint-object-error: #d32f2f;
$--color-icon-primary: #ef4056;
$--color-icon-secondary: #19bfd3;
$--color-icon-brand: #e6123d;
$--color-icon-white: #fff;
$--color-icon-black: #0c0c0c;
$--color-icon-disable: #e0e0e2;
$--color-icon-low-emphasis: #a1a3a8;
$--color-icon-high-emphasis: #424750;
$--color-icon-success: #4caf50;
$--color-icon-warning: #f9a825;
$--color-icon-neutral-hint: #81858b;
$--color-icon-primary-100: #ffe440;
$--color-icon-rating-0-2: #f9bc00;
$--color-icon-rating-2-3: #b1b64d;
$--color-icon-rating-3-4: #65aa57;
$--color-icon-rating-4-5: #00a049;
$--color-icon-error: #d32f2f;
$--color-app-background: #f2f2f2;
$--color-brand-primary-700: #e6123d;