@import '/styles/myMixin';
@import '/styles//myVariable';
.container{
    display: flex;
    justify-content: space-evenly;
    direction: rtl;
    margin-top: 40px;

    ul{
        list-style: none;

        li{
             padding: 7px;
        }
    }

    input{
         @include normalInput;
    }
}

.linksTag{
    font-weight: 700;
}
.linkButton{
    color: $--color-neutral-700;
    text-decoration: none;
    font-size: 18px;
}